nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#left {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 20%;
}
#right {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
.icon {
	width: 50px;
}
.gallery{
	max-width:22%;
	padding: 15px;
	height: 125px;
}
.set{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
}
h3{
	display:flex;
	justify-content: center;
	font-size: 24px;
}
button{ 
	display: flex;
	justify-content: center;
	width: 75px;
}
