@font-face{
	font-family: 'Museo';
	src: url(../assets/fonts/Museo/museo-300-webfont.woff) format("woff");

}
body{
  background: url('https://github.com/tyreil/web_1_project_2/blob/master/assets/textures/az_subtle.png?raw=true');
  font-family: "Museo" sans-serif;
}
nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
  margin: 20px 75px;
  margin-bottom: 25px;
}
#left {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 25%;
}
#right {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
.icon {
	width: 50px;
}
#slideshow{
	position: relative;
	max-width: 100%;
  width: 1300px;
  height: 450px;
  background-color: grey;
  margin: 0 auto;
	max-width: 100%;
  border: 10px solid white;
}
#slideshow >div{
  width: 98.45%;
  background-color: #666;
  position: absolute;
  top: 393.5px;
  overflow: none;
  text-align: right;
  font-size: 30px;
  padding: 10px;
}
.arrow{
	max-height:75px
}
#arrow-l{
  position: absolute;
	top: 200px;
	left: -25px;
}
#arrow-r{
  position: absolute;
	top: 200px;
	left: 1271.5px;
}

#gallery{
  display: flex;
  flex-direction: column;
  width: 1300px; 
  justify-content: space-between;
  height: 650px;
  margin: 25px 25px 0px 25px;
  
}
.gallery{
	max-width: 310px;
  height: 200px;

}
.set{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}
h3{
	display:flex;
	justify-content: center;
	font-size: 30px;
  margin-top: 50px;
}
#button {
	display: flex;
	justify-content: center;
  margin: 0px 0px 50px 0px;
}
.button {
	text-decoration: none;
  font-size: 24px;
	background: url('https://github.com/tyreil/web_1_project_2/blob/master/assets/textures/az_subtle.png?raw=true');
	color: white;
	background-color: #666;
	background-blend-mode: overlay;
	padding: 10px 70px;
}
#tweet{
  width: 100%;
  background-color: #666;
  overflow: none;
  text-align: center;
  font-size: 24px;
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 10px 10px grey;
}
#tweet >img {
  height: 30px;
  margin: 10px;
  transform: rotate(25deg);
}
#tweet >p {
  margin: 10px; 
}
#time{
  font-size: 16px;
  align-self: flex-end;
  
}
footer{
  width:100%;
  	background: url('https://github.com/tyreil/web_1_project_2/blob/master/assets/textures/az_subtle.png?raw=true');
	color: white;
  background-color: #666;
	background-blend-mode: overlay;
}
#footer-columns{
  display: flex;
  justify-content: space-between;
  overflow: none;
}
#f1{
  width: 30%;
  justify-content: center;
}
#search{
  background: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0px 0px 30px 5px
  
}
#f1 >#search>img {
  height: 20px;
  margin: 1px 5px 0px 5px;
}
#f1 >#search>p{
  color: grey;
  font-size: 18px;
}
#repeat{
  margin:  38px 0px 5px 0px ;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 24px
}

#f2{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 30%;
  justify-content: flex-start;
}
#f2, #f3, #f1 > h3 {
  color: #666;
  align-self: flex-start;
}
#f3{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0px 40px;  
}
.small-set{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
  max-width: 29%;
}
.gallery2{
	max-width: 100px;
  height: 60px;
  margin: 3px
}
a{
  text-decoration: none;
}
p{
  color: white
}
