nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 1px solid red;
}

#left {
	border: 1px solid green;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 20%;
}

#right {
	border: 1px solid blue;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}


.icon {
	width: 50px;
}

